<!DOCTYPE html>

<html>
    <head>
        <title>Display</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="/js/backend.js" defer></script>
    </head>

    <body>
        <div class="title"><h1>STEAM REVIEW SUMMARIZER</h1></div>
        <div class="main">
            <h1 class="game_title fade"><%- gameName %></h1>
            <br>
            <img class="game_img fade" src="https://cdn.akamai.steamstatic.com/steam/apps/<%= appid %>/header.jpg" alt="Game front page image">
            <br>
            <div class="desc_div"><i>
                <span class="desc"><%- gameDescription %></span>
                <br></i>
                <span class="dev"><%- gameTags %></span>
            </div>
            
            <br>
            <div class="graph_reviews">
                <div class="reviews">
                    <div class="stats"><b>STATISTICS</b></div>
                    TOTAL REVIEWS: <%- totalReviews %>
                    <br>
                    <br>
                    Positive: <%- numPosReviews %>
                    <br>
                    <br>
                    Negative: <%- numNegReviews %>
                    <br>
                    <br>
                    Upvote Percentage: <%- upvotePercentage %>%
                    <br>
                    <br>
                </div>
                <div class="iframe_div">
                    <iframe src="https://steamdb.info/embed/?appid=<%- appid %>" loading="lazy" class="iframe"></iframe>
                </div>
            </div>
            <br>
            <div class="summary">
                <div class="summary_title"><b>SUMMARY</b></div>
                <div class="summary_text">
                    <%- summary %>
                </div>
            </div>

        </div>

    </body>

</html>